<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Walks Of Life</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <a href="/" style="color: black">
        <div id="blog-description">
            <div>Walks</div>
            <div>Of</div>
            <div>Life</div>
        </div>
    </a>

    <a href="/posts" id="post-page-link" class="tooltip">
        <span class="tooltip-text">Posts</span>
    </a>