<%- include('./partials/header') %>

<h1 id="header" class="ui header">About</h1>

<div id="content" class="ui justified container">
    <p>
        Jensi is an avid dreamer who kickstarts a lot of ideas but sees them through to the end less than 100% of the time. Owns an imaginative mind that knows no boundaries which she draws and channels these energies into doodles and writing. Aspires to publish at least one novel in her dull life, bonus if she gets to write a drama and or movie script.
    </p>
    <p>
        <em>When life gives you lemons, make lemon juice then drink it and emerge tougher than before.</em>
    </p>
    <p>Other than this blog, she is also currently writing <a href="https://trip101.com/writer/jensi" target="_blank">here</a>.</p>
    <p>The slave who got this blog up and running: <a href="https://gohyinhao.github.io/" target="_blank">Goh Yin Hao</a></p>
    <p>Blog designed by yours truly but made usable by <a href="https://www.linkedin.com/in/samuel-lim-033b06140" target="_blank">Samuel Lim</a></p>
</div>

<%- include('./partials/footer') %>
