<% include ./partials/header %>

<div id="main-content-container">
    <h1 id="header" class="ui header">Login</h1>
    <div id="content" class="ui container">
        <form action="/login" method="POST" class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button class="ui button" type="submit">Login!</button>
        </form>
    </div>
</div>

<% include ./partials/footer %>
