<% include ./partials/header %>

<div id="main-content-container">
    <div class="header">Posts</div>
    <div class="content">
        <p>Enter description of blog here!</p>
        <p>Click on the various pictures to explore the site!</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Donec scelerisque velit et ante vestibulum scelerisque. Morbi leo urna, ullamcorper eu ipsum in, mollis laoreet turpis. Phasellus eget eleifend nisl, eu sodales neque. Nam erat ipsum, tristique ac mauris at, euismod elementum dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam maximus ipsum erat, id elementum leo dignissim non. Sed luctus malesuada tristique. Donec ac gravida justo, ac semper enim. Curabitur commodo odio pulvinar euismod volutpat. Cras at rhoncus nibh, vel interdum quam. Nullam non eleifend ipsum.</p>
        <p>Praesent varius sapien nec lectus accumsan, sit amet finibus risus rhoncus. Proin feugiat, nunc eget commodo malesuada, purus velit auctor lectus, non maximus ligula nibh ac tellus. Donec magna justo, sagittis at euismod eu, fringilla ut quam. Pellentesque iaculis elit consequat, sollicitudin dolor quis, finibus lorem. Ut mi diam, hendrerit in justo vel, consectetur bibendum magna. Duis mollis turpis et mauris porta congue. Nunc ornare semper dui sit amet sagittis. Donec dictum suscipit arcu, non feugiat lectus fringilla non. Curabitur dictum pellentesque ullamcorper. Morbi sollicitudin turpis sit amet ligula euismod lobortis. Nullam pretium nec elit eget commodo. Etiam tincidunt luctus enim, in euismod quam pulvinar sit amet. Proin ut eros in nunc efficitur facilisis. Suspendisse potenti.</p>
    </div>
</div>

<% include ./partials/footer %>
