#post-page-link {
    position: absolute;
    left: 38.5%;
    bottom: 1%;
    height: 62%;
    width: 10%;
}

#login-page-link {
    position: absolute;
    left: 0%;
    bottom: 45%;
    height: 20%;
    width: 32%;
}

#logout-page-link {
    position: absolute;
    left: 14%;
    top: 0%;
    height: 30%;
    width: 30%;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    position: absolute;
    right: 40%;
    z-index: 1;
    visibility: hidden;
    width: 5rem;
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip-top .tooltip-text {
    top: -1.5rem;
}

.tooltip-bottom .tooltip-text {
    bottom: -1.5rem;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
}

.tooltip-top .tooltip-text::after {
    top: 100%;
    border-color: black transparent transparent transparent;
}

.tooltip-bottom .tooltip-text::after {
    bottom: 100%;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}