body {
    background-image: url("/images/homePage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 62.5%;
}

#blog-description {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 1%;
    left: 2.5%;
    width: 11vw;
    height: 33vh;
}

#blog-description div {
    font-family: "Shadows Into Light", cursive;
    font-size: 4.5vw;
    width: 100%;
    line-height: 33%;
}

#main-content-container {
    position: fixed;
    top: 5%;
    right: 7%;
    width: 38vw;
    height: 88vh;
}

#header {
    margin-top: 3vh;
    font-family: "Shadows Into Light", cursive;
    font-size: 2.5vw;
    text-align: center;
}

#content {
    position: absolute;
    bottom: 0;
    height: 90%;
    margin: 0 1vw;
    padding: 1em 1em 0 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.5vw;
    overflow: auto;
}

#post-page-link {
    position: absolute;
    left: 38.5%;
    bottom: 1%;
    height: 62%;
    width: 10%;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    position: absolute;
    top: -1.5rem;
    right: 40%;
    z-index: 1;
    visibility: hidden;
    width: 5rem;
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.delete-form {
    display: inline;
}
