<% include ../partials/header %>

<div id="main-content-container">
        <h1 id="header" class="ui header">New Post</h1>
    <div id="content" class="ui container">
        <form class="ui form" action="/posts" method="POST">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="Title">
            </div>
            <div class="field">
                <label>Content</label>
                <textarea name="content" placeholder="Content"></textarea>
            </div>
            <button class="ui green basic button" type="submit">Post!</button>
        </form>

        <p><a class="ui negative basic button" href="/posts">Go Back!</a></p>

        <div class="ui divider"></div>

        <div class="ui segment">
            <p>Note that to style content, you need to embed HTML markup</p>
            <p>Bold - &lt;b&gt;Text&lt;/b&gt;</p>
            <p>Italics - &lt;i&gt;Text&lt;/i&gt;</p>
            <p>Underline - &lt;u&gt;Text&lt;/u&gt;</p>
            <p>Headers - &lt;h(num)&gt;Text&lt;/h(num)&gt; where num can be 1 to 6</p>
            <p>Paragraphing - &lt;p&gt;Text&lt;/p&gt;</p>
            <p>Line Breaks - &lt;br&gt;Text&lt;/br&gt;</p>
        </div>
    </div>
</div>

<% include ../partials/footer %>
