<% include ../partials/header %>

<h1 id="header" class="ui header">New Post</h1>
<div id="content" class="ui container">
    <form class="ui form" action="/posts" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="post[title]" placeholder="Title">
        </div>
        <div class="field">
            <label>Content</label>
            <textarea name="post[content]" id="wysiwyg-editor"></textarea>
        </div>
        <button class="ui green basic button" type="submit">Post!</button>
    </form>

    <p><a class="ui black basic button" href="/posts">Go Back!</a></p>
</div>

<% include ../partials/froalaEditor %>
<% include ../partials/footer %>
