<% include ../partials/header %>

<div id="main-content-container">
    <h1 id="header" class="ui header"><%= post.title %></h1>
    <div id="content" class="ui container">
        <div class="ui text container">
            <p><%= post.content %></p>
        </div>
        <p>
            <a class="ui blue basic button" href="/posts/<%= post._id %>/edit">Edit Post</a>
            <a class="ui negative basic button" href="/posts">Go Back!</a>
        </p>
    </div>
</div>

<% include ../partials/footer %>
